.Menubar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.Menubar button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 2.5rem;
  color: #6e0b0b;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Menubar button:hover:not(:disabled) {
  background-color: #eeeeee;
}

.Menubar button:disabled {
  cursor: default;
  background-color: initial;
}

.Menubar button.is-active {
  background-color: #dddddd;
}

.ProseMirror:focus-visible {
  outline-offset: 0.4rem;
}

.FontDropper {
  border: 1px solid #ddd !important;
}

.FontArrow {
  transition: all 0.1s ease-in-out;
}

.FontArrow.is-active {
  transform: rotate(180deg);
}

.FontButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  z-index: 1;
  max-height: 400px;
  overflow-y: auto;
}

.FontButtons button {
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.FontButtons button:hover {
  background-color: #eeeeee;
}

svg {
  fill: #6e0b0b;
}

.MoreFontsPopup {
  position: absolute;
  top: calc(50% + 10rem);
  left: calc(50% - 25rem);
  width: 50rem;
  height: 40rem;
  overflow-y: scroll;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  z-index: 1;
}

.MoreFontsPopupContent {
  width: 95%;
  padding-left: 2rem;
}

.MoreFontsPopupContent button {
  width: 100%;
  justify-content: flex-start;
}