.Navbar {
  background-color: #ae2121;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 65px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Navbar button {
  height: 100%;
  background-color: #ae2121;
  color: #f7f7f7;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Navbar button:hover {
  background-color: #c53333;
}

.logo {
  height: 2.25em;
}